<! DOCTYPE html>
<html land="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=10">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>The home page</h1>
  <form action="http://127.0.0.1:8000/accounts/register">
    <input type="submit" value="Click here to register!" />
  </form>
  <form action="http://127.0.0.1:8000/accounts/login">
    <input type="submit" value="Click here to login!" />
  </form>

</body>
</html>
